@{
    ViewBag.FormCode = "TCT";
}
<style>
    th {
        font-size: 14px !important;
    }
</style>
@Html.Partial("C_TTP")
<div>
    <button class="btn btn-success" id="TaxAdd">Create</button>
</div>
