<div class="report-form hide-normal" id="PrintContent">
    <div class="report-content">
        <div class="container-fluid">
            <h3 class="report-title"> Report of Branch Information </h3>
            <div class="main-information mb-2">
                <div class="row">
                    <label class="col-md-3"> Branch ID : </label>
                    <label class="col-md-5" id="PBraID"> </label>
                </div>

                <div class="row">
                    <label class="col-md-3"> Branch Name : </label>
                    <label class="col-md-5" id="PBraName"> </label>
                </div>

                <div class="row">
                    <label class="col-md-3"> Company ID : </label>
                    <label class="col-md-5" id="PCompID"> </label>
                </div>

                <div class="hide-normal" id="PEstablishDate">
                    <div class="row">
                        <label class="col-md-3"> Establish Date : </label>
                        <label class="col-md-5" id="PDate"> </label>
                    </div>
                </div>
            </div>

            <div class="address-information mb-2">
                <div class="row">
                    <label class="col-md-3"> Street Name : </label>
                    <label class="col-md-5" id="PStrName"> </label>
                </div>

                <div class="row" id="PBuildingNumber">
                    <label class="col-md-3"> Building Number : </label>
                    <label class="col-md-5" id="PBuildNum"> </label>
                </div>

                <div class="hide-normal" id="PFloorNumber">
                    <div class="row">
                        <label class="col-md-3"> Floor Number : </label>
                        <label class="col-md-5" id="PFloorNum"> </label>
                    </div>
                </div>

                <div class="hide-normal" id="PCity">
                    <div class="row">
                        <label class="col-md-3"> City : </label>
                        <label class="col-md-5" id="PCi"> </label>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-3"> Governorate : </label>
                    <label class="col-md-5" id="PGovern"> </label>
                </div>
            </div>

            <div class="legal-information mb-2">
                <div class="hide-normal" id="PSocialInsuranceID">
                    <div class="row">
                        <label class="col-md-3"> Social Insurance ID : </label>
                        <label class="col-md-5" id="PInsurance"> </label>
                    </div>
                </div>
            </div>

            <div class="communication-information mb-2">
                <div class="hide-normal" id="PTelephone1">
                    <div class="row">
                        <label class="col-md-3"> Telephone : </label>
                        <label class="col-md-3" id="PT1"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PTX1"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PTelephone2">
                    <div class="row">
                        <label class="col-md-3"> Telephone : </label>
                        <label class="col-md-3" id="PT2"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PTX2"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PTelephone3">
                    <div class="row">
                        <label class="col-md-3"> Telephone : </label>
                        <label class="col-md-3" id="PT3"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PTX3"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PTelephone4">
                    <div class="row">
                        <label class="col-md-3"> Telephone : </label>
                        <label class="col-md-3" id="PT4"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PTX4"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PTelephone5">
                    <div class="row">
                        <label class="col-md-3"> Telephone : </label>
                        <label class="col-md-3" id="PT5"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PTX5"> </label>
                    </div>
                </div>

                <br />

                <div class="hide-normal" id="PFax1">
                    <div class="row">
                        <label class="col-md-3"> Fax : </label>
                        <label class="col-md-3" id="PF1"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PFX1"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PFax2">
                    <div class="row">
                        <label class="col-md-3"> Fax : </label>
                        <label class="col-md-3" id="PF2"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PFX2"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PFax3">
                    <div class="row">
                        <label class="col-md-3"> Fax : </label>
                        <label class="col-md-3" id="PF3"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PFX3"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PFax4">
                    <div class="row">
                        <label class="col-md-3"> Fax : </label>
                        <label class="col-md-3" id="PF4"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PFX4"> </label>
                    </div>
                </div>
                <div class="hide-normal" id="PFax5">
                    <div class="row">
                        <label class="col-md-3"> Fax : </label>
                        <label class="col-md-3" id="PF5"> </label>
                        <label class="col-md-1"> Ext. : </label>
                        <label class="col-md-3" id="PFX5"> </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
