<div class="report-form hide-normal" id="PrintContent">
    <header>
        <div class="report-header row mb-2">
            <h3 class="col-md-6 col-sm-6"> FabuolousERP </h3>
            <div class="col-md-6 col-sm-6">
                <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" height="100" width="100" />
            </div>
        </div>
    </header>

    <div class="report-content">
        <div class="container-fluid">
            <h3 class="report-title"> Report of Company Information </h3>
            <div class="main-information mb-2">
                <div class="row">
                    <label class="col-md-3"> Company ID : </label>
                    <label class="col-md-5" id="PCompID"> </label>
                </div>

                <div class="row hide-normal" id="PEstablishDate">
                    <label class="col-md-3"> Establish Date : </label>
                    <label class="col-md-5" id="PDate"> </label>
                </div>

                <div class="row">
                    <label class="col-md-3"> Company Name : </label>
                    <label class="col-md-5" id="PCompName"> </label>
                </div>            
            </div>

            <div class="address-information mb-2">
                <div class="row">
                    <label class="col-md-3"> Street Name : </label>
                    <label class="col-md-5" id="PStrName"> </label>
                </div>

                <div class="row" id="PBuildingNumber">
                    <label class="col-md-3"> Building Number : </label>
                    <label class="col-md-5" id="PBuildNum"> </label>
                </div>

                <div class="row hide-normal" id="PFloorNumber">
                    <label class="col-md-3"> Floor Number : </label>
                    <label class="col-md-5" id="PFloorNum"> </label>
                </div>

                <div class="row hide-normal" id="PCity">
                    <label class="col-md-3"> City : </label>
                    <label class="col-md-5" id="PCi"> </label>
                </div>

                <div class="row">
                    <label class="col-md-3"> Governorate : </label>
                    <label class="col-md-5" id="PGovern"> </label>
                </div>
            </div>

            <div class="legal-information mb-2">
                <div class="row" id="PCompanyType">
                    <label class="col-md-3"> Company Type : </label>
                    <label class="col-md-5" id="PCompType"> </label>
                </div>

                <div class="row" id="PCommericalRegister">
                    <label class="col-md-3"> Commerical Register : </label>
                    <label class="col-md-5" id="PCommReg"> </label>
                </div>

                <div class="row" id="PTaxFileNumber">
                    <label class="col-md-3"> Tax File Number : </label>
                    <label class="col-md-5" id="PTax"> </label>
                </div>

                <div class="row hide-normal" id="PVatID">
                    <label class="col-md-3"> VaT ID : </label>
                    <label class="col-md-5" id="PVat"> </label>
                </div>

                <div class="row hide-normal" id="PImportID">
                    <label class="col-md-3"> Import ID : </label>
                    <label class="col-md-5" id="PImport"> </label>
                </div>

                <div class="row hide-normal" id="PExportID">
                    <label class="col-md-3"> Export ID : </label>
                    <label class="col-md-5" id="PExport"> </label>
                </div>

                <div class="row hide-normal" id="PSocialInsuranceID">
                    <label class="col-md-3"> Social Insurance ID : </label>
                    <label class="col-md-5" id="PInsurance"> </label>
                </div>
            </div>

            <div class="communication-information mb-2">
                <div class="row hide-normal" id="PTelephone1">
                    <label class="col-md-3"> Telephone : </label>
                    <label class="col-md-3" id="PT1"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PTX1"> </label>
                </div>
                <div class="row hide-normal" id="PTelephone2">
                    <label class="col-md-3"> Telephone : </label>
                    <label class="col-md-3" id="PT2"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PTX2"> </label>
                </div>
                <div class="row hide-normal" id="PTelephone3">
                    <label class="col-md-3"> Telephone : </label>
                    <label class="col-md-3" id="PT3"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PTX3"> </label>
                </div>
                <div class="row hide-normal" id="PTelephone4">
                    <label class="col-md-3"> Telephone : </label>
                    <label class="col-md-3" id="PT4"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PTX4"> </label>
                </div>
                <div class="row hide-normal" id="PTelephone5">
                    <label class="col-md-3"> Telephone : </label>
                    <label class="col-md-3" id="PT5"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PTX5"> </label>
                </div>

                <br />

                <div class="row hide-normal" id="PFax1">
                    <label class="col-md-3"> Fax : </label>
                    <label class="col-md-3" id="PF1"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PFX1"> </label>
                </div>
                <div class="row hide-normal" id="PFax2">
                    <label class="col-md-3"> Fax : </label>
                    <label class="col-md-3" id="PF2"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PFX2"> </label>
                </div>
                <div class="row hide-normal" id="PFax3">
                    <label class="col-md-3"> Fax : </label>
                    <label class="col-md-3" id="PF3"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PFX3"> </label>
                </div>
                <div class="row hide-normal" id="PFax4">
                    <label class="col-md-3"> Fax : </label>
                    <label class="col-md-3" id="PF4"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PFX4"> </label>
                </div>
                <div class="row hide-normal" id="PFax5">
                    <label class="col-md-3"> Fax : </label>
                    <label class="col-md-3" id="PF5"> </label>
                    <label class="col-md-1"> Ext. : </label>
                    <label class="col-md-3" id="PFX5"> </label>
                </div>

                <br />

                <div class="row hide-normal" id="PWebsite">
                    <label class="col-md-3"> Website : </label>
                    <label class="col-md-3" id="PSite"> </label>
                </div>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom">
        <div class="report-footer container">
            <div class="row">
                <label class="col-md-4"> Company Address </label>
                <div class="col-md-4 mb-4">
                    <ul class="list-unstyled">
                        <li class="py-2"> Commerical Register </li>
                        <li class="py-2"> Tax File Number </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li class="py-2"> Company Telephone 1 </li>
                        <li class="py-2"> Company Telephone 2 </li>
                        <li class="py-2"> Company Fax </li>
                        <li class="py-2"> Company Website </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<link href="~/_Content/Styles/Important/_CompanyReport.css" rel="stylesheet" />