<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background: rgb(68, 171, 188);">
    <div class="clock NoTrans">
        <span id="clock"  class="NoTrans"></span>
        <img class="pl-1 NoTrans" src="~/_Content/Pictures/timepic.png" alt="clock" />
    </div>

    <div class="date pl-5 NoTrans">
        <span class="NoTrans"> @DateTime.Now.Date.ToLongDateString() </span>
        <img class="pl-1 NoTrans" src="~/_Content/Pictures/datepic.png" alt="date" />
    </div>
</nav>
