<style>

</style>
<nav class="nav-left" id="">
    <div id="" style="padding-top: 25px;">
        <div class="">
            <a class="" href="/Home/Accounting"><span>Accounting</span>  </a>

        </div>
        <div class="">
            <a class="" href="/Home/FixedAssets"><span>Fixed Assets</span>  </a>

        </div>
        <div class="">
            <a class="" href="/Home/CheckBook"><span>CheckBook</span>  </a>

        </div>
        <div class="">
            <a class="" href="/Home/Payable"><span>Payable</span>  </a>
        </div>
        <div class="">
            <a class="" href="/Home/Receivable"><span>Receivable</span>  </a>
        </div>
        <div class="">
            <a class="" href="/Home/Installment"><span>Installment</span>  </a>

        </div>
        <div class="">
            <a class="" href="/Home/Inventory"><span>Inventory</span>  </a>
        </div>
   
    </div>
</nav>





















@*
         <div class="">
                <div class="">
                    <a class="" href="#settings" ><span>Settings</span>  </a>
                </div>
                <div id="settings" class="collapse" data-parent="#accordion">
                    <ul id="settingFavTemplate" class="card-body"></ul>
                </div>
            </div>
    <div class="">
        <div class="">
            <a class="" href="#transactions" > <i class="fa fa-exchange"></i> <span>Transactions</span>  </a>
        </div>
        <div id="transactions" class="collapse" data-parent="#accordion">
            <ul id="transactionFavTemplate" class="card-body"></ul>
        </div>
    </div>

    <div class="">
        <div class="">
            <a class="" href="#Inquiry" > <i class="fa fa-tv"></i> <span>Inquiry</span>  </a>
        </div>
        <div id="Inquiry" class="collapse" data-parent="#accordion">
            <ul id="inquiryFavTemplate" class="card-body"></ul>
        </div>
    </div>

    <div class="">
        <div class="">
            <a class="" href="#Report" > <i class="fa fa-print"></i> <span>Report</span>  </a>
        </div>
        <div id="Report" class="collapse" data-parent="#accordion">
            <ul id="reportFavTemplate" class="card-body"></ul>
        </div>
    </div>

    <div class="card mt-5">
        <div class="">
            <a class="" title="Financial Home" href="/Home/Financial_Home">
                <i class="fa fa-file"></i><span> Financial</span>
            </a>
        </div>
        <div class="">
            <a class="" title="Purchasing Home" href="/Home/Purchasing_Home">
               <span>Purchasing</span>
            </a>
        </div>
        <div class="">
            <a class="" title="Sales Home" href="/Home/Sales_Home">
                <i class="fa fa-line-chart"></i> <span>Sales</span>
            </a>
        </div>
        <div class="">
            <a class="" title="Inventory Home" href="/Home/Inventory_Home">
                <i class="fa fa-industry"></i><span> Inventory</span>
            </a>
        </div>
    </div>*@