<div id="Modal" class="modal fade" role="dialog" style="z-index:2000;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="margin:0;" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success Submit" id="ModelSubmit" data-dismiss="modal">@FabulousErp.BusController.Translate("Submit")</button>
                <button type="button" class="btn btn-default" id="ModelClose" data-dismiss="modal">@FabulousErp.BusController.Translate("Close")</button>
            </div>
        </div>

    </div>
</div>
