@*
    <header class="d-none d-print-block fixed-top">
        <div class="row">
            <div class="col-md-10">
                <div class="header-brand" id="compname"> Company Name </div>
            </div>
            <div class="col-md-2">
                <div class="header-logo">
                    <img id="header-img" />
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Company Details -->
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li> Company ID : </li>
                    <li> Company Type : </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled border-right border-dark">
                    <li id="compid"> 12345 </li>
                    <li id="comptype"> Individual </li>
                </ul>
            </div>

            <!-- Branch Details -->
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li> Branch Name : </li>
                    <li> Branch ID : </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled border-right border-dark">
                    <li id="branchname"> Etisalat </li>
                    <li id="branchid"> 1234567 </li>
                </ul>
            </div>

            <!-- Factory Details -->
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li> Factory Name : </li>
                    <li> Factory ID : </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li id="factoryname"> Oppo </li>
                    <li id="factoryid"> 123456789 </li>
                </ul>
            </div>
        </div>
    </header>



    <footer class="fixed-bottom d-none d-print-block">
        <div class="row text-center">
            <!-- Company Details -->
            <div class="col-md-4 border-right">
                <h6> Company Communications </h6>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"> Street </li>
                    <li class="list-inline-item"> Area </li>
                    <li class="list-inline-item"> City </li>
                </ul>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"> telephone </li>
                    <li class="list-inline-item"> fax </li>
                </ul>
                <ul class="list-unstyled">
                    <li> Commerical Register </li>
                    <li> Tax File Number </li>
                </ul>
            </div>

            <!-- Branch Details -->
            <div class="col-md-4 border-right">
                <h6> Branch Communications </h6>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"> Street </li>
                    <li class="list-inline-item"> Area </li>
                    <li class="list-inline-item"> City </li>
                </ul>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"> telephone </li>
                    <li class="list-inline-item"> fax </li>
                </ul>
            </div>

            <!-- Factory Details-->
            <div class="col-md-4 border-right">
                <h6> Factory Communications </h6>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"> Street </li>
                    <li class="list-inline-item"> Area </li>
                    <li class="list-inline-item"> City </li>
                </ul>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"> telephone </li>
                    <li class="list-inline-item"> fax </li>
                </ul>
            </div>
        </div>
    </footer>
*@