@{
    ViewBag.Title = "Access Denied";
}
<div class="denied">
    <img src="~/_Content/Pictures/Denied.png" />
    <hgroup>
        <h2> The Access is Denied <img src="~/_Content/Pictures/wrong-access.png" /> </h2>
        <h3> Sorry, you have tried to access a page that you have no permission to view </h3>
        <h5> Please contact your Administrator for more information!!!</h5>
    </hgroup>
</div>
<!-- Styles -->
<link href="~/_Content/Styles/Important/AccessDenied.css" rel="stylesheet" />