
<div class="col-md-4 mb-2">
    <button class="btn btn-primary btn-sm" id="IASI-search"> Search <i class="fa fa-search"></i> </button>
</div>

<table class="table table-bordered table-striped table-responsive-md NoDataTable">
    <thead>
        <tr>
            <th> Periods </th>
            <th> Debit </th>
            <th> Credit </th>
            <th> Net Change </th>
            <th> Ending Balance </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody id="IASI-tblBody"></tbody>
    <tfoot>
        <tr>
            <th class="text-center">Total</th>
            <th class="text-center" id="IASI-totalDebit"></th>
            <th class="text-center" id="IASI-totalCredit"></th>
            <th class="text-center" id="IASI-totalNetChange"></th>
            <th class="text-center" id="IASI-totalBallance"></th>
            <th class="text-center" id="">Action</th>
        </tr>
    </tfoot>
</table>