@{
    ViewBag.Title = "Branch Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FormCode = "IBT";
}
<div class="container-fluid">
    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> Branch ID : </label>
        <div class="col-md-2">
            @Html.DropDownList("IBT-branchID", ViewBag.BranchID as SelectList, "-Choose-", new { @id = "IBT-branchID", @class = "form-control form-control-sm" })
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Branch Name : </label>
        <div class="col-md-6">
            <input type="text" class="form-control form-control-sm" id="IBT-branchname" disabled />
        </div>
    </div>

    <!-- Table Area Start -->
    <table class="table table-striped table-bordered display nowrap">
        <thead>
            <tr>
                <th> Tax Code </th>
                <th> Account ID </th>
                <th> Describtion </th>
                <th> Percentage % </th>
            </tr>
        </thead>
        <tbody id="IBT-tbody-append"></tbody>
    </table>
</div>

<!-- Scripts here -->
@*@Html.IncludeVersionedJs("/Scripts/jquery-3.3.1.js")*@
@Html.IncludeVersionedJs("/_Content/JS/Inquiry/Financial/GeneralSetting/Tax/Inquiry_BranchTax.js")
