@{
    ViewBag.Title = "Company Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FormCode = "ICT";
}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3 hide">
            <label for="ITS-companyID"> Company ID : </label>
            @Html.DropDownList("ICT-companyID", ViewBag.CompanyID as SelectList, "-Choose-", new { @id = "ICT-companyID", @class = "dropdown-list" })
        </div>
        <div class="col-md-6">
            <label for="ITS-companyname"> Company Name : </label>
            <input type="text" id="ICT-companyname" disabled />
        </div>
    </div>

    <!-- Table Area Start -->
    <table class="table table-striped table-bordered display nowrap">
        <thead>
            <tr>
                <th> Tax Code </th>
                <th> Account ID </th>
                <th> Describtion </th>
                <th> Percentage % </th>
            </tr>
        </thead>
        <tbody id="ICT-tbody-append"></tbody>
    </table>
</div>

<!-- Scripts here -->
@*@Html.IncludeVersionedJs("/Scripts/jquery-3.3.1.js")*@
@Html.IncludeVersionedJs("/_Content/JS/Inquiry/Financial/GeneralSetting/Tax/Inquiry_CompanyTax.js")
<script>
    $(function () {
        $("#ICT-companyID").trigger("change")
    })
</script>