@{
    ViewBag.Title = "List of Branch Center Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.FormCode = "IBCCA";
}
<div class="container-fluid">
    <span class="hide-normal" id="IBCCA-CompanyID">@FabulousErp.Business.GetCompanyId()</span>
    <span class="hide-normal" id="IBCCA-BranchID"></span>

    <div class="form-row mb-1">
        <span class="col-md-12 text-error" id="IBCCA-errors"></span>
        <label class="col-md-2 col-form-label col-form-label-sm"> Branch ID : </label>
        <div class="col-md-2">
            @Html.Partial("CompanyOrBranch")
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Branch Name : </label>
        <div class="col-md-6">
            @if (FabulousErp.Business.GetCompanyId() != null)
            {
                <input type="text" class="form-control form-control-sm" id="IBCCA-branchname" disabled />
            }
           
        </div>
    </div>

    <div class="form-row mb-1">
        <label class="col-md-2 col-form-label col-form-label-sm"> Cost Center ID : </label>
        <div class="col-md-2">
            @Html.DropDownList("BranchAnalyticID", new SelectList(""), "-Choose-", new { @id = "IBCCA-BranchCostID", @class = "form-control form-control-sm", @disabled = "disabled" })
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm"> Cost Center Name : </label>
        <div class="col-md-6">
            <input type="text" class="form-control form-control-sm" id="IBCCA-costname" disabled />
        </div>
    </div>

    <!-- Table Area Start -->
    <table class="table table-striped table-bordered display nowrap">
        <thead>
            <tr>
                <th width="30%"> Cost Account ID </th>
                <th width="70%"> Cost Account Name </th>
            </tr>
        </thead>
        <tbody id="IBCCA-append-data"></tbody>
    </table>
</div>


<!-- Scripts here -->
@*@Html.IncludeVersionedJs("/Scripts/jquery-3.3.1.js")*@
@Html.IncludeVersionedJs("/_Content/JS/Inquiry/Financial/Accounting/Financial-Accounting.js")



