
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Void</h2>
<span id="TCGE-GlobalError" class="text-error">@ViewBag.Error</span>
@*<div class="form-group" style="width:40%;">
    <label class="control-label col-md-2">Transaction </label>
    <div class="col-md-10">
    </div>
</div>
<div class="form-group" style="width:40%;">
    <label class="control-label col-md-2">Transaction </label>
    <div class="col-md-10">
        <input type="date" id="TCGE-JEDate" class="form-control" />
    </div>
</div>*@
<input id="IADI-GurrencyFormate" type="hidden" />
<section id="info"></section>
@Html.Action("VoidPartial", "PPartial", new
{
    area = "FixedAssets",
    Controller = "Void",
    DeleteAction = "CreateVoid",
    MyArea= "Payable",
    SubmitUrl= "/Payable/Void/CreateVoid",
    Currency = ViewBag.Currency,
    PostingToOrThrow = ViewBag.PostingToOrThrow,
    PostingNum = ViewBag.PostingNum,
    Id = Request.Url.AbsolutePath.Split('/').LastOrDefault(),
    AdditinolParm="<input value='"+Request["Type"] +"' name='Type' class='hide' />",
    TransactionDate = ViewBag.TransactionDate,
    PostingKey="PayVTra",
    RedirectLink= ViewBag.RedirectLink
})
<script>
    $(function () {
        setTimeout(function () {
            $("#TCGE-JEDate").removeAttr("disabled")
            $("#TCGE-PostingDate").removeAttr("disabled")
            $("#TCGE-Reference").removeAttr("disabled")
            $("#TCGE-Reference").attr("name", "Reference");
        },1000)
    })
</script>